.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url("../images/wall.png");
}

.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    border-bottom: 5px solid #ffffff;
}

.menu-lives {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.menu-time,
.menu-score {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.panel {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.square {
    height: 250px;
    width: 250px;
    margin: 20px;
    border-image-slice: 40 60 50 60;
    border-image-width: 28px 35px 28px 35px;
    border-image-outset: 0px 0px 0px 0px;
    border-image-repeat: stretch stretch;
    border-image-source: url("../images/window.png");
    background-color: rgba( 255, 255, 255, 0.35 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    cursor: url('../images/cursor.png'), auto;
}

.enemy {
    background-image: url("../images/ralph.png");
    background-size: 200px 200px;
    background-position: center;
    cursor: url('../images/cursor-click.png'), auto;
}

.init-option {
    position: absolute;
    top: 0;
    z-index: 8;
    height: 100%;
    width: 100%;
    background-color: rgba( 255, 255, 255, 0.35 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
}

.start {
    z-index: 10;
    position: absolute;
    width: 20%;
    top: 39%;
    right: 40%;
    transition: transform 0.6s;
}

.start:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.game-over {
    z-index: 9;
    position: absolute;
    width: 12%;
    top: 34.5%;
    right: 44%;
    display: none;
    transition: transform 0.6s;
}

.game-over:hover {
    transform: scale(1.2);
    cursor: pointer;
}